@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --gradient-angle-offset {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --gradient-percent {
    syntax: "<percentage>";
    initial-value: 5%;
    inherits: false;
}

@property --gradient-shine {
    syntax: "<color>";
    initial-value: white;
    inherits: false;
}

.shinyBtn {
    --btn-bg: #000000;
    --btn-bg-subtle: #1a1818;
    --btn-fg: #ffffff;
    --btn-highlight: blue;
    --btn-highlight-subtle: #8484ff;
    --animation: gradient-angle linear infinite;
    --duration: 3s;
    --shadow-size: 2px;
    --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);

    isolation: isolate;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline-offset: 4px;
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 360px;
    color: var(--btn-fg);
    background: linear-gradient(var(--btn-bg), var(--btn-bg)) padding-box,
        conic-gradient(from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
            transparent,
            var(--btn-highlight) var(--gradient-percent),
            var(--gradient-shine) calc(var(--gradient-percent) * 2),
            var(--btn-highlight) calc(var(--gradient-percent) * 3),
            transparent calc(var(--gradient-percent) * 4)) border-box;
    box-shadow: inset 0 0 0 1px var(--btn-bg-subtle);
    transition: var(--transition);
    transition-property: --gradient-angle-offset, --gradient-percent, --gradient-shine;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.shinyBtn::before,
.shinyBtn::after,
.shinyBtn span::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: -1;
}

.shinyBtn:active {
    translate: 0 1px;
}

/* Dots pattern */
.shinyBtn::before {
    --size: calc(100% - var(--shadow-size) * 3);
    --position: 2px;
    --space: calc(var(--position) * 2);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle at var(--position) var(--position),
            white calc(var(--position) / 4),
            transparent 0) padding-box;
    background-size: var(--space) var(--space);
    background-repeat: space;
    mask-image: conic-gradient(from calc(var(--gradient-angle) + 45deg),
            black,
            transparent 10% 90%,
            black);
    border-radius: inherit;
    opacity: 0.4;
    z-index: -1;
}

/* Inner shimmer */
.shinyBtn::after {
    --animation: shimmer linear infinite;
    width: 100%;
    aspect-ratio: 1;
    background: linear-gradient(-50deg,
            transparent,
            var(--btn-highlight),
            transparent);
    mask-image: radial-gradient(circle at bottom, transparent 40%, black);
    opacity: 0.6;
}

.shinyBtn span {
    position: relative;
    z-index: 1;
    border-radius: inherit;
}

.shinyBtn {
    animation: gradient-angle var(--duration) linear infinite,
        gradient-angle calc(var(--duration) / 0.4) linear reverse infinite paused;
    animation-composition: add;
}

.shinyBtn::before {
    animation: gradient-angle var(--duration) linear infinite,
        gradient-angle calc(var(--duration) / 0.4) linear reverse infinite paused;
    animation-composition: add;
}

.shinyBtn::after {
    animation: shimmer var(--duration) linear infinite,
        shimmer calc(var(--duration) / 0.4) linear reverse infinite paused;
    animation-composition: add;
}

.shinyBtn span::before {
    --size: calc(100% + 1rem);
    width: var(--size);
    height: var(--size);
    border-radius: inherit;
    box-shadow: inset 0 -1ex 2rem 4px var(--btn-highlight);
    opacity: 0;
    transition: opacity var(--transition);
    animation: calc(var(--duration) * 1.5) breathe linear infinite;
}

.shinyBtn:is(:hover, :focus-visible) {
    --gradient-percent: 20%;
    --gradient-angle-offset: 95deg;
    --gradient-shine: var(--btn-highlight-subtle);
    animation-play-state: running;
}

.shinyBtn:is(:hover, :focus-visible)::before,
.shinyBtn:is(:hover, :focus-visible)::after {
    animation-play-state: running;
}

.shinyBtn:is(:hover, :focus-visible) span::before {
    opacity: 1;
}

@keyframes gradient-angle {
    to {
        --gradient-angle: 360deg;
    }
}

@keyframes shimmer {
    to {
        rotate: 360deg;
    }
}

@keyframes breathe {

    from,
    to {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }
}